:root{
    --size: 100;
}

body{
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
}


.container {
    width: 700px;
    height: 600px;
    display: grid;
    border: 2px solid blueviolet;
    border-radius: 20px;
    margin: 0 auto;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 1px;
    background-color: blueviolet;
    padding: 20px;
}

button{
    margin: 20px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;

}

button:hover{
    opacity: 50%;
}